body {
  margin: 0;
  font-family: "Julius Sans One", sans-serif;
  background-color: #3f423e;
}
header {
  padding-top: 20px;
}
header .left-side {
  display: block;
}
header .left-side .logo {
  font-size: 25px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
}
header .left-side .logo:hover {
  color: #9ba199;
}
header .left-side .logo span {
  font-size: 16px;
  display: block;
}
header .right-side {
  display: flex;
}
header .right-side li {
  list-style-type: none;
  text-align: center;
}
header .right-side li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
header .right-side li a:hover {
  color: #9ba199;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.about .avatar .images {
  border-radius: 300px;
  overflow: hidden;
  height: 250px;
  width: 250px;
  border: 2px solid white;
  text-align: center;
  margin: 50px auto;
}
.about .avatar .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .ava-text h4 {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 0 50px 0;
}
table {
  margin: 0 auto;
}
table tbody th {
  color: white;
  font-weight: normal;
  text-align: left;
  padding: 0 50px 0 0;
}
table tbody td {
  color: white;
  text-align: left;
  padding: 0 0 0 50px;
}
table tbody td a {
  text-decoration: none;
  text-align: none;
  color: white;
}
.skills h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin: 80px 0 0 0;
}
.skills ul {
  color: white;
  text-align: center;
  font-weight: normal;
  list-style: none;
  padding: 0;
}
